.exercisePage {
    background-color: #E7ECEF;
    padding :32px 0;

    .exercisePage__model{
        .body-map__muscle{
            fill: rgb(211,211,211);
   
            &:hover, &.active{
                fill: rgb(244, 95, 2);
            }
        }
    } 
    
    .optionExerciseDiv{
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #FFFFFF;
        padding: 0 0 24px;
        height: fit-content;

        .exercisePage__model{
            border: none;
            padding: 20px;
        }
    }
}