.workout-page {
  text-align: center;
  padding: 20px;
  background-color: #f0f4f8;
  height: 100vh;

    .progress-bar-container{
        width: 90%;
        margin: 0 auto;
        
        .custom-progress-bar {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        padding: 0 60px;
        position: relative;
        justify-content: space-evenly;
    
        .step {
            width: 50px;
            height: 50px;
            background-color: #d3d3d3;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            transition: background-color 0.3s ease-in, transform 0.3s ease;
            z-index: 1;
            
            &.active {
            background-color: #20409A;
            transform: scale(1.1);
            }
    
            svg {
            font-size: 24px;
            color: #fff;
            }
    
            &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 99%;
            width: 12vw;
            height: 2vh;
            background-color: #d3d3d3;
            transform: translateY(-50%);
            z-index: 0;
            transition: background-color 0.5s ease;
            }
    
            &.activeProgress:not(:last-child)::after {
            background-color: #20409A;
            }
        }
        }
    }

  .title {
    font-size: 28px;
    color: #20409A;
    margin: 50px 0;
  }
}


