.exerciseItem{
    margin-bottom: 32px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding-bottom: 32px;

   .exerciseItem__header{
        background-color: black;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 8px 0px;
        margin: 0;
        text-align: center;
   } 

   .exerciseItem__video{
        position: relative;
        video:first-child{
            border-bottom-right-radius: 10px;
        }
        
        video:last-child{
            border-bottom-left-radius: 10px;
        }

        .exerciseItem__video-level{
            position: absolute;
            top:0;
            left: -10px;
            border: none;
            border-radius: 20px;
            padding: 2px 10px;
            font-size: 12px;
            font-weight: 500;
            color: rgb(249 250 251);
            width: fit-content !important;
                    &.Beginner{
                        background-image: linear-gradient(to right, rgb(64, 154, 32), rgb(32, 77, 16));
                    }
    
                    &.Intermediate{
                        background-image: linear-gradient(to right, rgb(32, 64, 154), rgb(16, 32, 77));
                    }
                    
                    &.Advanced{
                        background-image: linear-gradient(to right, rgb(254, 91, 127), rgb(127, 45, 63));
                    }
                    
                    &.Novice{
                        background-image: linear-gradient(to right, rgb(252, 186, 3), rgb(168, 124, 2));
                    }
        }
   }

}

.exerciseItem__description{
    background-color: white;
    margin-bottom: 32px;
    border-radius: 5px;
    padding: 50px 55px;

    h4{
        font-weight: 600;
        text-align: center;
        margin-bottom: 32px;
    }
}