.content-main__modal {
    .exercisePage__model {
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #FFFFFF;
        padding: 20px;
        height: fit-content;

        .model-container {
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .body-map__muscle {
            fill: rgb(211,211,211);
            cursor: pointer;
            transition: fill 0.3s ease;

            &.active {
                fill: rgb(244, 95, 2);
            }

            &:hover {
                fill: rgb(244, 95, 2);
                opacity: 0.8;
            }
        }

        svg {
            height: 400px;
            width: auto;
        }
    }
}