.optionExerciseHeader{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px !important;
    .optionExercise__gender{
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

       .switch{
           background-color:white;
           width:4.5vw;
           height:2vw;
           border-radius:30vw;
           border:0.25vw solid #d8d8d8;
           cursor: pointer;
           user-select: none;
           display:inline-block;
           position: relative;
        }
        .switch::before, .switch::after{
           content:'';
           width:0.5vw;
           height:0.5vw;
           background-color:white;
           position:absolute;
           border-radius:50%;
           top: -13%;
           left: -4%;
           transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
        }
        .switch::before{
           border: 1vw solid lightblue;
        }
        .switch::after{
           background:#FBD3E1;
           border: 1vw solid pink;
        }
        input:checked + .switch:before {
           background: #D3F0FB;
           transform: translateX(125%);
           border:1vw solid pink;
        }
        input[type="checkbox"] {
         display: none; // Hide the default checkbox
     
         &:checked { // Styles when checkbox is checked
     
           & + .switch + .female {
             display: none;
           }
     
           & + .switch + .female + .male {
             color: lightblue;
             display: block;
           }
         }
     
         & + .switch + .female { // Default female color
           color: pink;
           display: block;
         }
     
         & + .switch + .female + .male { // Default male color
           display: none;
         }
      }
        input:checked + .switch:after {
           background: #D3F0FB;
           transform: translateX(125%);
           border:1vw solid lightblue;
        }
     
         .female, .male{
            margin-left: 16px;
            color:#ccc;
            font-size: 16px;
         }
   }
}
.optionExerciseContent{
    margin: auto;
    padding: 16px 24px 0px;

    .optionExerciseItem{
        display: flex;
        gap: 12px;
        font-size: 20px;
        padding: 12px 12px 12px 28px;
        align-items: center;

        .optionIcon{
            svg{
               width: 25px;
               height: 25px;
               margin-right: 8px;
            }
        }

        .optionName{
         font-size: 12px;
        }
    }
}

